h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
  padding: 0px;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-main);
  color: var(--txt-main);
  font-family: 'Outfit', sans-serif;
}

pre {
  font-family: 'Outfit', sans-serif;
}

a {
  color: var(--txt-main);
  text-decoration: none;
  cursor: pointer;
  transition: .15s;
}
a:hover {
  color: var(--txt-contrast);
}