@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

:root {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 120%;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-1);
    color: var(--text-primary);
    line-height: 175%;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.container {
    padding: 0 calc(max(5%, 50% - 600px));
}

#main {
    padding-bottom: 5%;
}

h1 {
    font-size: 280%;
}

h2 {
    font-size: 210%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 140%;
}

h5 {
    font-size: 120%;
}

h6 {
    font-size: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 100%;
}

b {
    font-weight: 600;
}

.center {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
}

.cards > div {
    background-color: var(--background-X);
    border: 2px solid var(--background-2);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--text-accent);
}

a.button,
input[type="submit"] {
    padding: 0.5em 1em;
    background-color: var(--accent);
    color: var(--text-primary);
    border-radius: 5px;
    transition: background-color 200ms;
}

a.button:hover,
input[type="submit"]:hover {
    background-color: var(--accent-less);
}

.prominent {
    font-weight: 600;
    background-color: #88888822;
    padding: 1em;
    border-radius: 5px;
}

pre,
code {
    background-color: #88888822;
    border-radius: 5px;
}

pre {
    padding: 0.4em 0.8em;
}

code {
    padding: 0.4em;
}

code.plain {
    background-color: unset;
}

input,
textarea,
select {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--background-3);
    color: var(--text-primary);
}

input[type="text"],
input[type="number"],
textarea {
    padding: 0.5em;
    width: calc(100% - 1em);
}

input[type="text"],
input[type="number"] {
    font-size: 90%;
}

textarea {
    font-size: 100%;
}

input::placeholder {
    color: var(--text-secondary);
}

select {
    font-size: 90%;
    padding: 0.5em;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;

    width: 1.4em;
    height: 1.4em;
    background-color: var(--background-1);

    transition: 100ms ease-in-out;
}

input[type="checkbox"] {
    border-radius: 5px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--text-accent);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel {
    background-color: var(--background-2);
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 5px;
}

.panel.highlight {
    background-color: var(--accent-less);
}
