html {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

div.light {
  background-color: var(--col-light);
}
div.mid {
  background-color: var(--col-mid);
}
div.dark {
  background-color: var(--col-dark);
}

h1,h2,h3,h4,p {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 32px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 24px;
  font-weight: 400;
}

a {
  color: var(--txt-main);
  text-decoration: none;
  cursor: pointer;
  transition: .15s;
}
a:hover {
  color: var(--txt-contrast);
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--col-dark);
  color: #fff;
  transition: .15s;
}
.button:hover {
  background-color: var(--col-mid);
  color: #fff;
}

.block {
  padding: 64px;
  display: flex;
  align-items: center;
}


body {
	max-width: 1280px;
  margin: 0px auto;
  padding: 0px 64px;
	box-sizing: border-box;
  background-color: var(--bg-main);
  color: var(--txt-main);
  font-family: 'Outfit';
}


header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 16px 0px;
}

header .brand {
  display: flex;
  align-items: center;
  gap: 32px;
}

header .brand img {
  border-radius: 50%;
}

header .links {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
}

header .link {
  padding: 16px 0px;
  font-size: 24px;
  justify-self: flex-end;
  border-color: transparent;
  cursor: pointer;
  transition: .15s;
}

header .link:hover {
  padding: 12px 0px;
  color: var(--txt-contrast);
  border-top: 4px solid transparent;
  border-bottom: 4px solid var(--txt-contrast);
}


main {
  position: relative;
  display: grid;
}

main > .tab {
  grid-area: 1 / 1 / 2 / 2;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity .15s;
}
main > .tab.active {
  opacity: 1;
  z-index: initial;
  max-height: initial;
}


.intro {
  padding: 32px 0px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 32px;
}


.portal {
  padding: 32px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.portal .block {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--col-light);
  padding: 16px;
  place-items: start center;
  gap: 16px;
}

.portal h4 {
  padding: 16px;
}

.portal .button {
  font-size: 24px;
}


.partners h1 {
  padding-left: 8px;
}

.partners input {
  background-color: var(--bg-main);
  position: absolute;
  right: 0px;
  margin-top: -32px;
  font-size: 20px;
  padding: 4px;
  border: 3px solid var(--col-light);
  outline: none;
  border-radius: 4px;
  color: var(--txt-main);
  font-weight: 500;
}

.partners .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
  padding: 32px 0px;
}

.partners .partner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 16px;
  background-color: var(--col-light);
  text-align: center;
  place-items: center;
  gap: 16px;
}

.partners .partner img {
  display: inline-block;
  margin: 16px;
}


footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 16px;
}

footer label {
  cursor: pointer;
  font-size: 16px;
}

footer .fa-solid { transition: .15s; }
footer .fa-solid.hover{ opacity: 0; }
footer label:hover .fa-solid { opacity: 0; }
footer label:hover .fa-solid.hover { opacity: 1; }

footer input {
  display: none;
}